body {
  font-family: "Arvo", bold;
}

.App {
  height: 500px;
  width: 700px;
  position: center;
  margin: 30px auto;
  margin-bottom: 5px;
  padding: 15px auto;
  padding-bottom: 5px;
}

.Container {
  height: 500px;
  width: 700px;
  margin: 30px auto;
  margin-bottom: 5px;
  padding: 15px auto;
  padding-bottom: 5px;
  position: center;
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 0.5816701680672269) 0%,
    rgba(148, 187, 233, 0.5956757703081232) 100%
  );
  background-size: auto;
}

h1 {
  font-size: 40px;
  color: #cea7db;
  text-shadow: 1px 1px 1px black;
  padding: 10px;
  display: block;
  text-align: center;
}

.inlining {
  display: inline;
}

.first {
  width: 50%;
  color: black;
  text-shadow: 1px 1px 1px #cea7db;
  margin-left: 75px;
}

img {
  width: 50px;
}

#icon {
  position: relative;
  left: 20px;
  top: -36px;
  width: 90px;
}

@media only screen and (max-width: 250px) {
  .searchbox {
    width: 20px;
    height: 3px;
  }
}

#temperature {
  font-weight: 400;
  color: rgb(33, 33, 33);
  font-size: 50px;
  position: relative;
  left: -17px;
  bottom: -60px;
  line-height: 1;
}

.units {
  position: relative;
  font-size: 15px;
  left: -20px;
  top: -5px;
  bottom: -35px;
}

@media only screen and (max-width: 768px) {
  [class*="container"] {
    padding: 10px;
  }
  [class*="first"] {
    font-size: 24px;
  }

  [class*="weatherElements"] {
    right: 94px;
  }
}

.credit {
  position: relative;
  resize: horizontal;
}
