body {
  font-family: "Arvo", bold;
}

.App {
  height: 575px;
  width: 700px;
  position: center;
  margin: 30px auto;
  margin-bottom: 5px;
  padding: 15px auto;
  padding-bottom: 5px;
}

.Container {
  height: 575px;
  width: 700px;
  margin: 30px auto;
  margin-bottom: 5px;
  padding: 15px auto;
  padding-bottom: 5px;
  position: center;
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 0.5816701680672269) 0%,
    rgba(148, 187, 233, 0.5956757703081232) 100%
  );
  background-size: auto;
}

h1 {
  font-size: 35px;
  color: #cea7db;
  text-shadow: 1px 1px 1px black;
  padding: 10px;
  display: block;
  text-align: center;
}

.credit {
  position: relative;
  resize: horizontal;
}
