body {
  font-family: "Arvo", bold;
}

.float-left {
  position: relative;
  bottom: 5px;
  left: 50px;
}

h1 {
  font-size: 30px;
  color: #cea7db;
  text-shadow: 1px 1px 1px black;
  padding: 10px;
  margin: 5px;
  display: block;
  text-align: center;
}

h3 {
  font-size: 20px;
  color: black;
  margin: 95;
  position: relative;
  top: 40px;
  /* position: center; */
  line-height: 10px;
}

h4 {
  width: 40%;
  font-size: 21px;
  color: black;
  text-shadow: 1px 1px 1px #cea7db;
  padding: 15px;
  padding-top: 0px;
  margin-bottom: 10px;
  text-align: center;
  position: relative;
  top: -30px;
  left: 168px;
}

.container {
  height: 400px;
  width: 600px;
  margin: 30px auto;
  margin-bottom: 5px;
  padding: 15px auto;
  padding-bottom: 5px;
  position: center;
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 0.5816701680672269) 0%,
    rgba(148, 187, 233, 0.5956757703081232) 100%
  );
  background-size: auto;
}

.inlining {
  display: inline;
}

.row {
  margin-top: 20px;
  position: center;
}

.first {
  width: 50%;
  color: black;
  text-shadow: 1px 1px 1px #cea7db;
  margin-left: 75px;
}

.col-6 .active {
  color: black;
  cursor: default;
}

.col-6 .active:hover {
  text-decoration: none;
}

.imgResponsive {
  width: 100%;
  height: auto;
}

img {
  width: 50px;
}

#icon {
  position: relative;
  left: 75px;
  top: 50px;
}

@media only screen and (max-width: 250px) {
  .searchbox {
    width: 20px;
    height: 3px;
  }
}

#temperature {
  font-weight: 400;
  color: rgb(33, 33, 33);
  font-size: 50px;
  position: relative;
  left: 75px;
  line-height: 1;
}

.units {
  position: relative;
  font-size: 15px;
  left: 70px;
  top: -25px;
}

#eyes {
  padding-bottom: 5px;
  height: 20px;
  position: absolute;
  left: 625px;
  top: 145px;
  line-height: -300px;
  border-style: solid;
}

button {
  width: 65px;
  height: 40px;
  border-radius: 1px;
  border-color: #b3ccff;
}

#searchCity {
  width: 200px;
  position: absolute;
  right: 190px;
  top: 145px;
  height: 50px;
}

#actualWeather {
  width: 350px;
  font-size: 14px;
  margin: 0px;
  text-transform: capitalize;
}

ul {
  position: center;
  list-style: none;
}

.weatherElements {
  position: relative;
  left: 350px;
  bottom: 65px;
}

@media only screen and (max-width: 768px) {
  [class*="container"] {
    padding: 10px;
  }
  [class*="first"] {
    font-size: 24px;
  }

  [class*="weatherElements"] {
    right: 94px;
  }
}

.credit {
  position: relative;
  resize: horizontal;
  top: -15px;
}
