.col-6 .active {
  color: black;
  cursor: default;
  font-weight: bold;
}

.col-6 .active:hover {
  text-decoration: none;
}

.float-left {
  position: relative;
  bottom: 85px;
  left: 50px;
}

#weatherStats {
  display: inline;
  font-weight: bold;
}

#actualWeather {
  width: 350px;
  font-size: 15px;
  margin: 0px;
  font-weight: bold;
}

.row {
  margin-top: 50px;
  position: center;
}

.weatherElements li {
  position: relative;
  bottom: 220px;
  left: 322px;
  font-size: 18px;
  display: block;
}

.icon {
  position: relative;
  bottom: 40px;
  right: 50px;
}

#description {
  position: relative;
  left: 175px;
  bottom: 80px;
  color: black;
  text-shadow: 1px 1px 1px #cea7db;
}
