.col-6 .active {
  color: black;
  cursor: default;
  font-weight: bold;
}

.col-6 .active:hover {
  text-decoration: none;
}

.float-left {
  position: relative;
  bottom: 85px;
  left: 50px;
}

.weatherStats {
  position: relative;
  left: 350px;
  bottom: 5px;
  font-weight: bold;
}

#actualWeather {
  width: 350px;
  font-size: 14px;
  margin: 0px;
  text-transform: capitalize;
  font-weight: bold;
}

.row {
  margin-top: 50px;
  position: center;
}

.imgResponsive {
  width: 100%;
  height: auto;
}

.weatherElements {
  position: relative;
  bottom: 50px;
}
