.row {
  margin-top: 50px;
  position: center;
}

#actualWeather {
  width: 350px;
  font-size: 18px;
  margin: 0px;
  font-weight: bold;
}

#description {
  left: 175px;
  bottom: 60px;
  color: black;
  text-shadow: 1px 1px 1px #cea7db;
  position: absolute;
}

.icon {
  position: absolute;
  display: inline-block;
  bottom: 80px;
  right: 10px;
  left: 65px;
}

.weatherElements li {
  position: relative;
  bottom: 150px;
  left: 338px;
  font-size: 18px;
  display: block;
}
