h2 {
  width: 50%;
  font-size: 22px;
  color: black;
  text-shadow: 1px 1px 1px #cea7db;
  padding: 0px;
  margin-left: 75px;
  margin-bottom: 0px;
  margin-top: 50px;
}

#searchCity {
  width: 250px;
  position: absolute;
  right: 450px;
  top: 145px;
  height: 50px;
}

ul {
  position: relative;
  top: 10px;
  list-style: none;
}

#date {
  position: relative;
  bottom: 40px;
}

#sunny {
  font-size: large;
  position: relative;
  left: 90px;
}

.btn {
  width: 50px;
  position: absolute;
}
