.input-group-append {
  margin-left: 370px;
  padding-bottom: 8px;
  position: relative;
  bottom: 70px;
}

h2 {
  font-size: 30px;
  color: black;
  text-shadow: 2px 2px 2px #cea7db;
  margin-left: 75px;
  margin-top: 30px;
  font-weight: 500;
  max-width: 50%;
}

ul {
  position: relative;
  top: 65px;
  list-style: none;
  font-weight: 550;
  font-size: medium;
}

h3 {
  width: 50%;
  font-size: 20px;
  color: black;
  margin-left: 75px;
}

h4 {
  width: 40%;
  font-size: 25px;
  color: #cea7db;
  text-shadow: 1px 1px 1px black;
  padding-top: 68px;
  text-align: center;
  font-weight: 600;
  left: 188px;
  bottom: 10px;
  position: relative;
}

#weather {
  height: 25px;
}

@media only screen and (max-width: 350px) {
  #searchCity {
    width: 250px;
    position: relative;
    right: 40px;
    top: 29px;
    height: 60px;
  }

  #eyes {
    padding-bottom: 41px;
    height: 20px;
    position: relative;
    left: 600px;
    bottom: 60px;
    line-height: -300px;
    border-style: solid;
    border-color: black;
  }
}

.icon {
  display: inline-block;
}
